#calibrationStudyTextContainer {
  font-weight: 400;
  width: 800px;
  margin: 10vh auto 0 auto;
  padding: 12px 48px;
  border-radius: 12px;
  background-color: #3330ac;
  color: white;
}

#calibrationStudyTextContainer h1 {
  font-style: italic;
  font-size: 2.5rem;
}

#calibrationStudyTextContainer h2, h3 {
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 400;
}

#calibrationStudyTextContainer h2 {
  text-align: center;
}

#calibrationStudyTextContainer p, ul {
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 0 12px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.inputHolder > label {
  font-size: 1.4rem;
}

.inputHolder > input {
  width: 300px;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: 4px 4px;
  margin-left: 8px;
  font-size: 1.2rem;
  font-weight: 400;
}

.inputHolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 16px 0;
}

.text {
  padding: 12px 0;
}

#submitHolder {
  text-align: center;
}

#submitHolder > button {
  color: white;
  margin: 24px 0;
  padding: 6px 12px;
  border: 2px solid white;
  background-color: #3330ac;
  border-radius: 16px;
  font-size: 1.4rem;
}

#submitHolder > button:hover {
  background-color: white;
  color: #3330ac;
}

.error {
  color: red;
  text-align: left;
}

